name: Close            - nama: Setup .NET Core SDK
  penggunaan: actions/setup-dotnet@v5.1.0
  dengan:
    # Versi SDK opsional yang akan digunakan. Jika tidak disediakan, akan menginstal versi global.json jika tersedia. Contoh: 2.2.104, 3.1, 3.1.x, 3.x, 6.0.2xx
    dotnet-version: # opsional
    # Kualitas build opsional. Nilai yang mungkin adalah: daily, signed, validated, preview, ga.
    dotnet-quality: # opsional
    # Lokasi global.json opsional, jika global.json Anda tidak terletak di root repositori.
    global-json-file: # opsional
    # Sumber paket opsional untuk pengaturan otentikasi. Akan memeriksa NuGet.config yang ada di root repositori dan menyediakan NuGet.config sementara menggunakan variabel lingkungan NUGET_AUTH_TOKEN sebagai ClearTextPassword
    URL sumber: # opsional
    # OWNER opsional untuk menggunakan paket dari organisasi/pengguna GitHub Package Registry selain pemilik repositori saat ini. Hanya digunakan jika URL GPR juga disediakan di source-url.
    pemilik: # opsional
    # Lokasi NuGet.config opsional, jika NuGet.config Anda tidak terletak di root repositori.
    file konfigurasi: # opsional
    # Input opsional untuk mengaktifkan caching folder global-packages NuGet
    cache: # opsional
    # Digunakan untuk menentukan jalur ke file dependensi: packages.lock.json. Mendukung wildcard atau daftar nama file untuk menyimpan beberapa dependensi dalam cache.
    cache-dependency-path: # opsional
          
           bad repo-sync PRs

# **What it does**:
#   Closes and PR from `repo-sync` to `main` that wasn't created by a Hubber.
# **Why we have it**:
#   Unfortunately, a lot of PRs in github/docs are created by people who
#   shouldn't be creating such PRs. We bot our bots to own it.
# **Who does it impact**: Open-source.

on:
  # Necessary in lieu of `pull_request` so that PRs opened from forks can be closed if they try to push to a repo sync branch.
  pull_request_target:

permissions:
  contents: write
  pull-requests: write

jobs:
  close-invalid-repo-sync-pr:
    if: ${{ github.repository == 'github/docs' && github.event.pull_request.base.ref == 'main' && github.event.pull_request.head.ref == 'repo-sync' }}
    name: Close if invalid repo-sync PR author
    runs-on: ubuntu-latest
    steps:
      - name: Close pull request if unwanted
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd
        with:
          github-token: ${{ secrets.DOCS_BOT_PAT_BASE }}
          script: |
            const { owner, repo } = context.repo
            const prCreator = context.actor
            const prNumber = context.issue.number

            try {
              await github.rest.teams.getMembershipForUserInOrg({
                org: 'github',
                team_slug: 'employees',
                username: prCreator
              })

              // If the PR creator is a GitHub employee, stop now
              console.log("PR creator is a GitHub employee")
              return
            } catch (err) {
              // An error will be thrown if the user is not a GitHub employee.
              // That said, we still want to proceed anyway!
            }

            // Close the PR and add the invalid label
            await github.rest.issues.update({
              owner,
              repo,
              issue_number: prNumber,
              labels: ['invalid'],
              state: 'closed'
            })

            // Comment on the PR
            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number: prNumber,
              body: "Please leave this `repo-sync` branch to the robots!\n\nI'm going to close this pull request now, but feel free to open a new issue in the repository!"
            })
